<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-property-placeholder="http://www.mulesoft.org/schema/mule/secure-property-placeholder" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-property-placeholder http://www.mulesoft.org/schema/mule/secure-property-placeholder/current/mule-secure-property-placeholder.xsd">

<!-- 	<context:property-placeholder location="${env}.properties,api.properties" /> -->
	<secure-property-placeholder:config name="Secure_Property_Placeholder" key="${pass}" location="${env}.properties" doc:name="Secure Property Placeholder" />

	<sfdc:config name="Salesforce__Basic_Authentication" username="${sfdc.eqs.user}" password="${sfdc.eqs.pass}" securityToken="${sfdc.eqs.token}" url="${sfdc.eqs.url}"
		doc:name="Salesforce: Basic Authentication" disableSessionInvalidation="true" />

</mule>
